.game-card {
  position: relative;
  flex: 0 1 calc(20% - 8px);
  .game-card-masthead {
    width: 100%;
    height: 225px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 1em;
  }
}
